.item-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 800px;
}

.item-form__heading {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 90%;
    text-align: left;
}

.form__group {
    margin-bottom: 20px;
}

.form__group-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.form__group-content input,
.form__group-content select,
.form__group-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form__group-content textarea {
    resize: vertical;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-tags .tag {
    background: #ffeaea;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

.form__button {
    margin-top: 40px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #FF3333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}