.item-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 800px;
}

.item-form__heading {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 90%;
    text-align: left;
}

.form__group {
    margin-bottom: 20px;
}

.form__group-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.form__group-content input,
.form__group-content select,
.form__group-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form__group-content textarea {
    resize: vertical;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-tags .tag {
    position: relative;
    cursor: pointer;
}

/* inputを非表示にする */
.category-tags .tag input[type="radio"] {
    display: none;
}

/* 通常状態のタグ */
.category-tags .tag span {
    display: inline-block;
    border: 2px solid #ff5e5e;
    color: #ff5e5e;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    background-color: transparent;
    transition: all 0.2s ease;
}

/* 選択されたタグ（背景赤・文字白） */
.category-tags .tag input[type="radio"]:checked+span {
    background-color: #ff5e5e;
    color: #fff;
}

.form__button {
    margin-top: 40px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #FF3333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}