.address-edit__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.address-edit__heading {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    padding-left: 10%;
}

.form__label--item {
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text {
    width: 100%;
    text-align: center;
}

.form__input--text input {
    padding: 10px;
    width: 80%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 90px;
}

.form__button-submit {
    padding: 10px;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #FF3333;
    color: #fff;
    cursor: pointer;
}