.profile-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.profile-form__heading {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__icon {
    margin-bottom: 30px;
}

.form__icon-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ddd;
}

.form__image-label {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;
    background: #FF6666;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.form__group {
    text-align: left;
    margin-bottom: 5px;

}

.form__label--item {
    font-weight: bold;
    padding-left: 10%;
    
}

.form__input--text {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}

.form__input--text input {
    width: 80%;
    padding: 10px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 90px;
}

.form__button-submit {
    width: 80%;
    height: 40px;
    padding: 10px;
    background-color: #FF3333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}